footer{
    margin-top: 10vmax;
    color: black;
    display: flex;
    align-items: center;
    border: 5px solid #ad8a5d;
}
.midfooter{
    width:60%;
    margin: auto;
    text-align: center;
}
.midfooter > h1{
    font-size: 4vmax;
    font-family: "Roboto";
    color: #ec5320;
}
.midfooter > p{
    max-width: 60%;
    margin: 5px auto;
    font-family: "Roboto"
}
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;
  }
  ul{
    padding-inline-start: 0px !important;
  }
  .menu__item {
    list-style: none;
  }
  .menu__link {
    font-size: 1.2rem;
    color: black;
    font-family: "Roboto";
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }

.mdimg{
    margin-top: 15px;
    width: 80px;
}
@media screen and (max-width: 800px){
.logoReactNavbar {
    height: 70px!important;
}
.mdimg{
    width: 70px;
}
}